{% extends 'base.html' %}

{% block content %}
{% load crispy_forms_tags %}
{% load static %}

<div class="container">
    <div class="row mr-auto" style="
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    color: #8D6011;">
        <div class="row-sm">
            <h1 style="font-weight: bold;font-size: 3em; margin-top : 30px;">{{ produk }}</h1>
            <h1 style="font-size: 3em; margin-bottom: 40px;">about</h1>
        </div>
        
    </div>
    <div class="row">
        <div class="jumbotron" style="background-color: #4A5E26;">
            <div class="row no-gutters">
                <div class="col-md-4">
                </div>
                <div class="col-md-8">
                    <div class="card-body text-white">
                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
                {% if user.is_authenticated %}
                    <div class="reviewlogin">
                        <form action="" method="POST" id="post-form">
                            {% csrf_token %}
                            {{ form|crispy }}
                            <br>
                            <button type="submit" id="form_submit" class="btn btn-warning">Submit</button>
                        </form>
                    </div>
                {% else %}
                    <div class="row mr-auto">
                        <h1 style = "font-family: Roboto;
                        font-style: normal;
                        font-weight: 300;
                        font-size: 1em;
                        margin-top: 1px;
                        
                        color: #8D6011;">Login first to review this product</h1>
                    </div>
                {% endif %}

                <div class = "col mr-auto" id="buat_js">
                </div>
                <div class="col mr-auto">

                {% if reviews %}
                    {% for s in reviews %}
                    
                        <div class="row mr-auto ">
                            <h1 style="
                            font-family: Roboto;
                            font-style: normal;
                            font-weight: 500;
                            font-size: 18px;
                            line-height: 21px;
                            margin-top: 30px;
                            
                            color: #8D6011;
                            
                            ">{{ s.namaReview }}</h1>
                        </div>
                        <div class="row mr-auto">
                            <h1 style="
                            font-family: Roboto;
                            font-style: normal;
                            font-weight: 300;
                            font-size: 14px;
                            line-height: 16px;
                            
                            color: #000000;">{{ s.isiReview }}</h1>
                        </div>
                    
                    {% endfor %}
                {% else %}
                   
                        <h1 style = "font-family: Roboto;
                        font-style: normal;
                        font-weight: 300;
                        font-size: 1em;
                        margin: 30px;
                        
                        color: #8D6011;">Be the first to review this product!</h1>
                    
                {% endif %}
                </div>
                
        </div>
    </div>
    
    <script src="https://code.jquery.com/jquery-3.4.1.js"
    integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"></script>
  <script src="{% static 'reviewJS.js' %}"></script>


{% endblock content %}