{% extends "base.html" %}
{% load static %}
{% block customhead %}
<link rel="stylesheet" type="text/css" href="{% static 'styleProduct.css' %}">
{% endblock customhead %}
{% block content %}
    <!-- face category -->
    <div id="faceCategory">
            <div class="container">
                <div class="row">
                <div id="category" class="col">
                    <h1>Hello, there^^</h1>
                    <form method="POST">
                        <div class="form-group">
                            <p>What is your face's skin type?</p>
                            <h3>Berminyak</h3>
                        </div>
                    </form>
                    </div>
                    <div class="col">
                    </div>
                </div>
            </div>
        </div>
        <!-- face products recommendation -->
        <div id="faceCategory">
            <h1 class="title" style="padding-top: 100px; text-align: center; justify-content: center;">Oily Skin Face Product</h1>
            <div class="container">
                <div class="row">
                    <!-- produk1 -->
                    <div class="col">
                      <div class="box-2">
                          <div class="row" style="justify-content: center;">
                              <img id="foto-produk" alt="OilyFace" src="https://files.catbox.moe/9eaj0u.jpg" width="200" height="auto">
                          </div>
                          <div class="row">
                              <p class="title description" style="font-weight: bold; font-size: 25px;">ELSHESKIN</p></br>
                              <div class="row">
                                    <p class="description" style="font-size: 17px;">Oily Cleanser Wash</p></br>
                                    <p class="description" style="font-size: 15px;">
                                        Pembersih wajah untuk membersihkan kotoran/debu yang menempel akibat wajah berminyak dan 
                                        mengurangi minyak berlebih di wajah. Kulit wajah menjadi lebih bersih, segar, mengurangi minyak berlebih.</p></br>
                            </div>
                          </div>
                          <div class="row">
                            <a href = "{% url 'reviewPage:productReview' 'ELSEHESKIN' %}" class="link">Review</a>
                            </div>
                          <div class="row">
                              <a href="https://www.sociolla.com/skin-care/10478-oily-cleanser-wash.html#/size-100" class="link">Click here if you're interested to buy</a>
                          </div>
                      </div>
                    </div>
                    <!-- produk2 -->
                    <div class="col">
                        <div class="box-2">
                            <div class="row" style="justify-content: center;">
                                <img id="foto-produk" alt="OilyFace" src="https://files.catbox.moe/pi61fa.jpg" width="200" height="auto">
                            </div>
                            <div class="row">
                                <p class="description" style="font-weight: bold; font-size: 25px;">BIODERMA</p></br>
                                <div class="row">
                                    <p class="description" style="font-size: 17px;">Sebium H2O Galaxy</p></br>
                                    <p class="description" style="font-size: 15px;">
                                        Sebium H2O adalah cairan micellar penghapus sisa riasan yang pertama untuk kulit kombinasi 
                                        atau kulit berminyak yang menyerupai komposisi alami kulit agar dapat menghilangkan sisa riasan 
                                        secara sempurna tanpa merusak kulit yang paling sensitif sekalipun.</p></br>
                                </div>
                            </div>
                            <div class="row">
                                <a href = "{% url 'reviewPage:productReview' 'BIODERMA' %}" class="link">Review</a>
                                </div>
                            <div class="row">
                                <a href = "https://www.sociolla.com/skin-care/14349-sebium-h2o-99.html" class="link">Click here if you're interested to buy</a>
                            </div>
                        </div>
                    </div>
                    <!-- end -->
                    </div>
                </div>
            </div>
        </div>

{% endblock content %}