{% extends "base.html" %}
{% load static %}
{% block customhead %}
<link rel="stylesheet" type="text/css" href="{% static 'styleProduct.css' %}">
{% endblock customhead %}
{% block content %}
    <!-- hair category -->
    <div id="hairCategory">
            <div class="container">
                <div class="row">
                <div id="category" class="col">
                    <h1>Hello, there^^</h1>
                    <form method="POST">
                        <div class="form-group">
                            <p>What is your hair problem?</p>
                            <h3>Rambut Kering</h3>
                        </div>
                    </form>
                    </div>
                    <div class="col">
                    </div>
                </div>
            </div>
        </div>
        <!-- hair products recommendation -->
        <div id="hairCategory">
            <h1 class="title" style="padding-top: 100px; text-align: center; justify-content: center;">Dry Hair Product</h1>
            <div class="container">
                <div class="row">
                    <!-- produk1 -->
                    <div class="col">
                      <div class="box-2">
                          <div class="row" style="justify-content: center;">
                              <img id="foto-produk" alt="DryHair" src="https://files.catbox.moe/5o375z.jpg" width="200" height="auto">
                          </div>
                          <div class="row">
                              <p class="title description" style="font-weight: bold; font-size: 25px;">SUNSILK</p></br>
                              <div class="row">
                                    <p class="description" style="font-size: 17px;">Nourishing Soft & Smooth</p></br>
                                    <p class="description" style="font-size: 15px;">
                                        Dilengkapi dengan 5 natural oils yang ringan dan tidak lengket di rambut. Formulanya menutrisi ke dalam
                                        setiap helai rambut dan menciptakan lapisan yang mampu melindungi dan menutrisi rambut.</p></br>
                            </div>
                          </div>
                          <div class="row">
                            <a href = "{% url 'reviewPage:productReview' 'SUNSILK' %}" class="link">Review</a>
                            </div>
                          <div class="row">
                              <a href="https://www.bukalapak.com/p/perawatan-kecantikan/makeup/rambut/1kf8id4-jual-sunsilk-shampoo-soft-smooth-340ml-conditioner-black-shine-170ml?from=&product_owner=normal_seller" class="link">Click here if you're interested to buy</a>
                          </div>
                      </div>
                    </div>
                    <!-- produk2 -->
                    <div class="col">
                        <div class="box-2">
                            <div class="row" style="justify-content: center;">
                                <img id="foto-produk" alt="DryHair" src="https://files.catbox.moe/wxxjt3.jpg" width="200" height="auto">
                            </div>
                            <div class="row">
                                <p class="description" style="font-weight: bold; font-size: 25px;">L'OREAL PARIS</p></br>
                                <div class="row">
                                    <p class="description" style="font-size: 17px;">Smooth-Intense Anti-Frizz Shampoo</p></br>
                                    <p class="description" style="font-size: 15px;">
                                        Diperkaya dengan argan oil yang menjadikan rambut kusut tampak halus dan thermo-protect agent
                                        yang merawat dan melindungi rambut dari efek lembab seperti rambut kusut dan mengembang tidak beratur.</p></br>
                                </div>
                            </div>
                            <div class="row">
                                <a href = "{% url 'reviewPage:productReview' 'LOREAL PARIS' %}" class="link">Review</a>
                            </div>
                            <div class="row">
                                <a href = "https://shopee.co.id/L'Oreal-Paris-Smooth-Intense-Anti-Frizz-Shampo-i.8077122.2105908094" class="link">Click here if you're interested to buy</a>
                            </div>
                        </div>
                    </div>
                    <!-- end -->
                    </div>
                </div>
            </div>
        </div>

{% endblock content %}