{% extends "base.html" %}
{% load static %}
{% block customhead %}
<link rel="stylesheet" type="text/css" href="{% static 'styleProduct.css' %}">
{% endblock customhead %}
{% block content %}
    <!-- hair category -->
    <div id="hairCategory">
            <div class="container">
                <div class="row">
                <div id="category" class="col">
                    <h1>Hello, there^^</h1>
                    <form method="POST">
                        <div class="form-group">
                            <p>What is your hair problem?</p>
                            <h3>Hair Loss</h3>
                        </div>
                    </form>
                    </div>
                    <div class="col">
                    </div>
                </div>
            </div>
        </div>
        <!-- hair products recommendation -->
        <div id="hairCategory">
            <h1 class="title" style="padding-top: 100px; text-align: center; justify-content: center;">Hair Loss Product</h1>
            <div class="container">
                <div class="row">
                    <!-- produk1 -->
                    <div class="col">
                      <div class="box-2">
                          <div class="row" style="justify-content: center;">
                              <img id="foto-produk" alt="HairLoss" src="https://files.catbox.moe/15w1np.png" width="200" height="auto">
                          </div>
                          <div class="row">
                              <p class="title description" style="font-weight: bold; font-size: 25px;">KÉRASTASE</p></br>
                              <div class="row">
                                    <p class="description" style="font-size: 17px;">Bain Prevention</p></br>
                                    <p class="description" style="font-size: 15px;">
                                        Mengandung sistem pro-actif yang merupakan kombinasi dari tiga agen aktif yaitu Anti
                                        anti-bacterial agent yang dapat meminimalisir iritasi, soothing agent yang menenangkan kulit kepala,
                                        dan regulating agent yang memperlancar sirkulasi</p></br>
                            </div>
                          </div>
                          <div class="row">
                            <a href = "{% url 'reviewPage:productReview' 'KÉRASTASE' %}" class="link">Review</a>
                            </div>
                          <div class="row">
                              <a href="https://shopee.co.id/Kerastase-Specifique-Bain-Prevention-shampoo-(anti-rontok)-250ml-i.17841361.188977367" class="link">Click here if you're interested to buy</a>
                          </div>
                      </div>
                    </div>
                    <!-- produk2 -->
                    <div class="col">
                        <div class="box-2">
                            <div class="row" style="justify-content: center;">
                                <img id="foto-produk" alt="HairLoss" src="https://files.catbox.moe/174h7o.jpg" width="200" height="auto">
                            </div>
                            <div class="row">
                                <p class="description" style="font-weight: bold; font-size: 25px;">L'OREAL PARIS</p></br>
                                <div class="row">
                                    <p class="description" style="font-size: 17px;">Fall Resist 3x Anti-Hair Fall Shampoo</p></br>
                                    <p class="description" style="font-size: 15px;">
                                        Membantu mengurangi rambut rontok karena patah akibat kekurangan nutrisi pada pangkal rambut.
                                        Diperkaya dengan arginine essence yang menutrisi dan mengembalikan kekuatan rambut dari akarnya.</p></br>
                                </div>
                            </div>
                            <div class="row">
                                <a href = "{% url 'reviewPage:productReview' 'LOREAL PARIS HAIRLOSS' %}" class="link">Review</a>
                            </div>
                            <div class="row">
                                <a href = "https://shopee.co.id/L'Oreal-Paris-Fall-Resist-3x-Shampoo-Hair-Care-170-ml-i.62579622.1026074139" class="link">Click here if you're interested to buy</a>
                            </div>
                        </div>
                    </div>
                    <!-- end -->
                    </div>
                </div>
            </div>
        </div>

{% endblock content %}