{% extends "base.html" %}
{% load static %}
{% block customhead %}
<link rel="stylesheet" type="text/css" href="{% static 'styleProduct.css' %}">
{% endblock customhead %}
{% block content %}
    <!-- face category -->
    <div id="faceCategory">
            <div class="container">
                <div class="row">
                <div id="category" class="col">
                    <h1>Hello, there^^</h1>
                    <form method="POST">
                        <div class="form-group">
                            <p>What is your face's skin type?</p>
                            <h3>Jerawat</h3>
                        </div>
                    </form>
                    </div>
                    <div class="col">
                    </div>
                </div>
            </div>
        </div>
        <!-- face products recommendation -->
        <div id="faceCategory">
            <h1 class="title" style="padding-top: 100px; text-align: center; justify-content: center;">Acne Product</h1>
            <div class="container">
                <div class="row">
                    <!-- produk1 -->
                    <div class="col">
                      <div class="box-2">
                          <div class="row" style="justify-content: center;">
                              <img id="foto-produk" alt="Jerawat" src="https://files.catbox.moe/3se7ga.png" width="200" height="auto">
                          </div>
                          <div class="row">
                              <p class="title description" style="font-weight: bold; font-size: 25px;">ERHA</p></br>
                              <div class="row">
                                    <p class="description" style="font-size: 17px;">Acne Spot Gel</p></br>
                                    <p class="description" style="font-size: 15px;">
                                        Acne Care Lab Acne Spot Gel merupakan rangkaian produk yang diformulasikan untuk 
                                        mengurangi peradangan, mempercepat penyembuhan dan mencegah hiperpigmentasi pada Spot Jerawat Aktif. </p></br>
                            </div>
                          </div>
                          <div class="row">
                            <a href = "{% url 'reviewPage:productReview' 'ERHA' %}" class="link">Review</a>
                            </div>
                          <div class="row">
                              <a href="https://www.sociolla.com/skin-care/9381-acne-spot-gel.html" class="link">Click here if you're interested to buy</a>
                          </div>
                      </div>
                    </div>
                    <!-- produk2 -->
                    <div class="col">
                        <div class="box-2">
                            <div class="row" style="justify-content: center;">
                                <img id="foto-produk" alt="Jerawat" src="https://files.catbox.moe/174h7o.jpg" width="200" height="auto">
                            </div>
                            <div class="row">
                                <p class="description" style="font-weight: bold; font-size: 25px;">DERMA ANGEL</p></br>
                                <div class="row">
                                    <p class="description" style="font-size: 17px;">Acne Patch Day</p></br>
                                    <p class="description" style="font-size: 15px;">
                                        Acne Patch Day dapat menyamarkan, menyembuhkan dan melindungi jerawat. 
                                        Acne patch ini memiliki bahan yang tipis, elastis, dan transparan. </p></br>
                                </div>
                            </div>
                            <div class="row">
                                <a href = "{% url 'reviewPage:productReview' 'DERMA ANGEL' %}" class="link">Review</a>
                            </div>
                            <div class="row">
                                <a href = "https://www.sociolla.com/skin-care/10023-acne-patch-day-12.html" class="link">Click here if you're interested to buy</a>
                            </div>
                        </div>
                    </div>
                    <!-- end -->
                    </div>
                </div>
            </div>
        </div>

{% endblock content %}