{% extends "base.html" %}
{% load static %}
{% block customhead %}
<link rel="stylesheet" type="text/css" href="{% static 'styleProduct.css' %}">
{% endblock customhead %}
{% block content %}
    <!-- face category -->
    <div id="faceCategory">
            <div class="container">
                <div class="row">
                <div id="category" class="col">
                    <h1>Hello, there^^</h1>
                    <form method="POST">
                        <div class="form-group">
                            <p>What is your face's skin type?</p>
                            <h3>Normal</h3>
                        </div>
                    </form>
                    </div>
                    <div class="col">
                    </div>
                </div>
            </div>
        </div>
        <!-- face products recommendation -->
        <div id="faceCategory">
            <h1 class="title" style="padding-top: 100px; text-align: center; justify-content: center;">Normal Skin Face Product</h1>
            <div class="container">
                <div class="row">
                    <!-- produk1 -->
                    <div class="col">
                      <div class="box-2">
                          <div class="row" style="justify-content: center;">
                              <img id="foto-produk" alt="NormalFace" src="https://files.catbox.moe/ljo99a.jpg" width="200" height="auto">
                          </div>
                          <div class="row">
                              <p class="title description" style="font-weight: bold; font-size: 25px;">L'OREAL PARIS</p></br>
                              <div class="row">
                                    <p class="description" style="font-size: 17px;">Revitalift Crystal Micro Essence</p></br>
                                    <p class="description" style="font-size: 15px;">
                                        Dengan Micronized Technology dapat menyerap hingga 10 lapisan dalam tekstur ringan dan terobosan 
                                        baru yang lebih cair, melembabkan dan cepat menyerap.</p></br>
                            </div>
                          </div>
                          <div class="row">
                            <a href = "{% url 'reviewPage:productReview' 'LOREAL PARIS REVITALIFT' %}" class="link">Review</a>
                            </div>
                          <div class="row">
                              <a href="https://www.sociolla.com/skin-care/13296-revitalift-crystal-micro-essence-skin-care.html#/size-130_ml" class="link">Click here if you're interested to buy</a>
                          </div>
                      </div>
                    </div>
                    <!-- produk2 -->
                    <div class="col">
                        <div class="box-2">
                            <div class="row" style="justify-content: center;">
                                <img id="foto-produk" alt="NormalFace" src="https://files.catbox.moe/iezjcy.jpg" width="200" height="auto">
                            </div>
                            <div class="row">
                                <p class="description" style="font-weight: bold; font-size: 25px;">CETAPHIL</p></br>
                                <div class="row">
                                    <p class="description" style="font-size: 17px;">Gentle Skin Cleanser</p></br>
                                    <p class="description" style="font-size: 15px;">
                                        Formulanya yang bebas sabun telah memenangkan banyak penghargaan dari orang-orang dalam industri 
                                        kecantikan dan komunitas perawatan kesehatan. Sifatnya yang lembut dan tidak menyebabkan iritasi 
                                        menenangkan kulit Anda saat membersihkan.</p></br>
                                </div>
                            </div>
                            <div class="row">
                            <a href = "{% url 'reviewPage:productReview' 'CETAPHIL' %}" class="link">Review</a>
                            </div>
                            <div class="row">
                                <a href = "https://www.sociolla.com/skin-care/7914-gentle-skin-cleanser.html#/size-59_ml" class="link">Click here if you're interested to buy</a>
                            </div>
                        </div>
                    </div>
                    <!-- end -->
                    </div>
                </div>
            </div>
        </div>

{% endblock content %}