body{
    background: #4a5e26;
}

header{
    position: relative; 
    top: 80px;
}

.heading{
    font-weight: 500;
}

.jumbotron{
    background: #D9CEB2;
}

.adviceJumbotron{
    display: flex;
    flex-direction: column;
}
