{% extends "base.html" %}
{% load static %}

{% block customhead %}
    <link rel="stylesheet" type="text/css" href="{% static 'styleAdvice.css' %}">
    {% endblock customhead %}
    
    {% block content %}
    <!-- header advice -->
    <header class="container pb-5">
        {% if user.is_authenticated %}
        <h1 id="greeting" class="display-3 text-light heading">We Need Your Advice {{user.username}} :)</h1>
        <br>
        {% else %}
        <h1 id="greeting" class="display-3 text-light heading">We Need Your Advice</h1>
        <br>
        {% endif %}
        <section class="jumbotron">
            <div class="adviceJumbotron">
                <form id="advice_form" method="POST" action="{% url 'advice:index' %}">
                    {% csrf_token %}
                    <div class="form-group center">
                        <p id="thank"></p>
                        <label><strong>Name</strong></label>
                        {{advice_form.namaUser}}
                        <label><strong>Category</strong></label>
                        {{advice_form.categoryAdvice}}
                        <label><strong>Advice</strong></label>
                        {{advice_form.isiAdvice}}
                    </div>
                    <div>
                        <input class="btn" id="submit-button" type="submit" value="Send Your Advice" name="tombol">
                    </div>
                </form>
            </div>
        </section>
        <div>
            <hr>
            <div class="col-md-12">
                <h3 style="color: aliceblue;">Review and Suggestion</h3>
                <div class="advice-post" id="advice">
                </div>
            </div>
        </div>
        
        
    </header>
    <script src="{% static 'script.js' %}"></script>
    {% endblock content %}
    